<head>
    <title>Todo List</title>
</head>

<body>
<div class="container"
     ng-controller="TodosListCtrl">
    <header>
        <h1>Todo List  ({{ incompleteCount() }})</h1>

        <label class="hide-completed">
            <input type="checkbox" ng-model="hideCompleted"/>
            Hide Completed Tasks
        </label>

        <login-buttons></login-buttons>

        <!-- add a form below the h1 -->
        <form class="new-task"
              ng-submit="addTask(newTask); newTask='';"
              ng-show="$root.currentUser">
            <input ng-model="newTask" type="text"
                   name="text" placeholder="Type to add new tasks" />
        </form>

    </header>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised">Button</md-button>
        <md-button class="md-raised md-primary">Primary</md-button>
        <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
        <md-button class="md-raised md-warn">Warn</md-button>
        <div class="label">Raised</div>
    </section>


    <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button>{{title1}}</md-button>
            <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
            <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
            <md-button class="md-warn">{{title4}}</md-button>
            <div class="label">Flat</div>
        </section>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised">Button</md-button>
            <md-button class="md-raised md-primary">Primary</md-button>
            <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
            <md-button class="md-raised md-warn">Warn</md-button>
            <div class="label">Raised</div>
        </section>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-fab" aria-label="Eat cake">
                <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-primary" aria-label="Use Android">
                <md-icon md-svg-src="img/icons/android.svg"></md-icon>
            </md-button>
            <md-button class="md-fab" ng-disabled="true" aria-label="Comment">
                <md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
                <md-icon md-svg-src="img/icons/ic_people_24px.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Eat cake">
                <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                <md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>
            </md-button>
            <div class="label">FAB</div>
        </section>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button ng-href="{{googleUrl}}" target="_blank">Default Link</md-button>
            <md-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">Primary Link</md-button>
            <md-button>Default Button</md-button>
            <div class="label">Link vs. Button</div>
        </section>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-primary md-hue-1">Primary Hue 1</md-button>
            <md-button class="md-warn md-raised md-hue-2">Warn Hue 2</md-button>
            <md-button class="md-accent">Accent</md-button>
            <md-button class="md-accent md-raised md-hue-1">Accent Hue 1</md-button>
            <div class="label">Themed</div>
        </section>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-icon-button md-primary" aria-label="Settings">
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button md-accent" aria-label="Favorite">
                <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
            </md-button>
            <md-button href="http://google.com"
                       title="Launch Google.com in new window"
                       target="_blank"
                       ng-disabled="true"
                       aria-label="Google.com"
                       class="md-icon-button launch" >
                <md-icon md-svg-icon="img/icons/launch.svg"></md-icon>
            </md-button>
            <div class="label">Icon Button</div>
        </section>
    </md-content>

    <ul>
        <li ng-repeat="task in tasks"
            ng-class="{'checked': task.checked, 'private': task.private}">
            <button class="delete" ng-click="deleteTask(task)">&times;</button>

            <input type="checkbox" ng-checked="task.checked"
                   ng-click="setChecked(task)" class="toggle-checked" />

            <button class="toggle-private"
                    ng-if="task.owner === $root.currentUser._id"
                    ng-click="setPrivate(task)">
                {{task.private == true ? "Private" : "Public"}}
            </button>

            <span class="text">
                <strong>{{task.username}}</strong> - {{task.text}}
            </span>
        </li>
    </ul>
</div>
</body>

<template name="hello">
    <button>Click Me</button>
    <p>You've pressed the button {{counter}} times.</p>
</template>
